/* 
Created: 23.11.2022
Modified: 24.11.2022
Author: Piero Chiussi | info@webchroma.de
*/
body{
    font-family: $body-font-family;
    font-size: 1rem;
    font-weight: 400;
    line-height: 150%;
    color:rgba(var(--app-body-font-rgb) , 1);
    background: rgba(var(--app-background-rgb), 1);
}
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $body-font-family;
  font-weight: 500;
  color:rgba(var(--app-nav-highlight-grey-rgb), 1);
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
    font-weight: 500;
    color:rgba(var(--app-nav-highlight-grey-rgb), 1);
}
.off-canvas-wrapper{
    background: rgba(var(--app-background-rgb), 1);
}
.text-highlight.heading1{
    font-weight: 400;
}
a, a:hover, .card__link, .card__text a{
    color:rgba(var(--app-body-font-rgb), 1);
    text-decoration: none;
}
.tooltip{
    a, a:hover, .card__link, .card__text a{
        color: rgba(var(--app-primary-rgb) , 1);
    }
    a:hover{
        transition: 0.2s ease-in;
        text-decoration: none;
    }
    a.author__nickname{
        color:rgba(var(--app-body-font-rgb), 1);
    }
}
.author__verified, .author__badge svg {
    color: rgba(var(--app-primary-rgb) , 1);
}

.link{
    color: rgba(var(--app-primary-rgb) , 1);
}
.link:hover{
    color: rgba(var(--app-primary-rgb) , 1);
    transition: 0.2s ease-in;
    text-decoration: none;
}

.m-r-5{
    margin-right:0.4rem;
}
.callout{
    &.primary, &.secondary{
        background-color:transparent;
    }
}
.floating-helper__content {
	background-color: transparent;
	border-top: none;
	margin-bottom: 3rem;
	padding: 2rem;
	width: 100%;
}
.floating-helper__icon-big{
    display:none;
}
.floating-helper__content-close{
    background-color: rgba(var(--app-body-font-rgb), 1);
    color:rgba(var(--app-background-rgb), 1);
    transition: all ease 500ms;
}
.floating-helper__content-close:hover{
    background-color: rgba(var(--app-primary-rgb), 1);
    color:rgba(var(--app-background-rgb), 1);
}

.callout.secondary, .callout.primary{
    border-left:none;
}