<span class="icon-wrap">
    <%= icon("heart", class: "", aria_label: "#{t("decidim.endorsable.endorsements_count")}:", role: "img") %>
    <span aria-hidden="true"><%= model.endorsements_count %></span>
    <span class="show-for-sr"><%= t("decidim.endorsable.endorsements_count", count: model.endorsements_count) %></span>
</span>