/* 
Created: 23.11.2022
Modified: 23.11.2022
Author: Piero Chiussi | info@webchroma.de

EMVI COLORS
--emvi-primary:#eb9243;
--emvi-primary-rgb:rgb(235, 146, 67);
--emvi-primary-hsl:hsl(28, 81%, 59%);
--emvi-secondary:#467d67;
--emvi-secondary-rgb:rgb(70, 125, 103);
--emvi-secondary-hsl:hsl(28, 81%, 59%);

DECIDIM COLOR VARIABLES
--alert: #ec5840;
--alert-rgb: 236,88,64;
--theme: #ef604d;
--theme-rgb: 239,96,77;
--primary: #eb9243;
--primary-rgb: 235,146,67;
--success: #57d685;
--success-rgb: 87,214,133;
--warning: #ffae00;
--warning-rgb: 255,174,0;
--highlight: #be6400;
--highlight-rgb: 190,100,0;
--secondary: #467d67;
--secondary-rgb: 70,125,103;
--highlight-alternative: #ff5731;
--highlight-alternative-rgb: 255,87,49;

DECIDIM CARDS
$card-bg: $white !default;
$card-secondary-bg: $light-gray-dark;
$card-border: $border;
$card-border-radius: $global-radius;
$card-border-top-width: 8px !default;
$card-shadow: 0 2px 7px rgba(black, .1);
$card-id: $medium-gray;

$card-padding-small: 1rem;
$card-padding: 1.5rem;
$card-margin-bottom: map-get($grid-column-gutter, medium);

$card-footer-bg: $light-gray-dark;

$card-proposal: var(--proposals);
$card-action: var(--actions);
$card-debate: var(--debates);
$card-meeting: var(--meetings);
$card-spaces: var(--meetings);

$datetime-bg: var(--primary);
*/
$body-font-family: "NOTO Sans", Helvetica, Roboto, Arial, sans-serif;
$body-font-color: #333333;
:root{
    --emvi-body-font: $body-font-color;
    --emvi-body-font-hsl:hsl(0, 0%, 20%);
    --emvi-body-font-rgb:rgb(51, 51, 51);
    --emvi-nav-highlight-grey:#616161;
    --emvi-nav-highlight-grey-rgb:rgb(97,97,97);
    --emvi-nav-highlight-grey-hsl:hsl(0, 0%, 38%);
    --emvi-primary:var(--primary);
    --emvi-primary-rgb:rgb(var(--primary-rgb));
    --emvi-primary-hsl:hsl(28, 81%, 59%);
    --emvi-primary-rgb-dark : darken(var(--emvi-primary),25%);
    --emvi-secondary:var(--secondary);
    --emvi-secondary-rgb:rgb(var(--secondary-rgb));
    --emvi-secondary-rgb-dark : lighten(var(--emvi-secondary),25%);
    --emvi-secondary-hsl:hsl(28, 81%, 59%);
    --emvi-background:#fafafa;
    --emvi-background-hsl:hsl(0, 0%, 98%);
    --emvi-background-rgb:rgb(250, 250, 250);
}