/* 
Created: 23.11.2022
Modified: 23.11.2022
Author: Piero Chiussi | info@webchroma.de
*/
$body-font-family: "NOTO Sans", Helvetica, Roboto, Arial, sans-serif;
$body-font-color: #333333;
:root{
    --emvi-main: #333333;
    --emvi-main-hsl:hsl(0, 0%, 20%);
    --emvi-primary:#eb9243;
    --emvi-primary-hsl:hsl(28, 81%, 59%);
    --emvi-secondary:#467d67;
    --emvi-secondary-hsl:hsl(156, 28%, 38%);
}