/* 
Created: 23.11.2022
Modified: 24.11.2022
Author: Piero Chiussi | info@webchroma.de
*/

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: $body-font-family;
  font-weight: 600;
  color:var(--emvi-nav-highlight-grey-rgb);
}

.logo-wrapper span{
    color:var(--emvi-primary-rgb);
}
.title-bar{
    padding:2rem 0;
    background: transparent;
    color: var(--emvi-nav-highlight-grey-rgb);
}
.title-bar, .navbar{
    background-color:var(--emvi-background-hsl);
}
.title-bar a:focus, .title-bar .button:focus, .title-bar .meeting-polls__button:focus {
    outline-color: var(--emvi-secondary-rgb-dark);
}

.topbar > div.logo-wrapper{
    flex:0 0 auto;
}

@media print, screen and (min-width: 50em)
{
    .logo-wrapper img {
        max-height: 90px;
    }
}

.topbar .language-choose {
    flex:1 0 auto;
    justify-content: center;
}

.topbar__user{
    margin-left:unset;
}

.topbar__user__login a{
    color: var(--emvi-nav-highlight-grey-rgb);
    text-decoration: none;
    text-transform: uppercase;
    line-height:40px;
    font-weight: 500;
}

.topbar__user__login a:hover{
    color:var(--emvi-primary-rgb);
    transition: 0.2s ease-in;
    text-decoration: none;
}

.topbar__notifications .icon, .topbar__conversations .icon {
    fill: var(--emvi-primary-rgb);
}

.topbar__dropmenu > ul > li > a {
    color: var(--emvi-nav-highlight-grey-rgb);
}

.topbar__dropmenu > ul > li > a:hover {
    color:var(--emvi-secondary-rgb);
    transition: 0.2s ease-in;
    text-decoration: none;
}

.topbar__dropmenu .is-dropdown-submenu {
    background-color: var(--emvi-background-hsl);
    border: 1px solid #fafafa;
    box-shadow: 0 3px 5px rgb(0 0 0 / 30%);
}

.is-dropdown-submenu {
    background: var(--emvi-background-hsl);
}

.topbar__dropmenu .is-dropdown-submenu li:hover, .topbar__dropmenu .is-dropdown-submenu li:focus {
    text-decoration: none;
}

.topbar__dropmenu .is-dropdown-submenu li:not(:last-child) {
    border-bottom: 1px solid #e8e8e8;
}

.topbar__dropmenu .is-dropdown-submenu li a {
    padding: 0.5rem;
    color: var(--emvi-secondary-rgb);
}

.topbar__dropmenu .is-dropdown-submenu li a:hover, .topbar__dropmenu .is-dropdown-submenu li a:focus {
    color:var(--emvi-secondary-rgb);
    transition: 0.2s ease-in;
    text-decoration: none;
}

.topbar__admin__link a{
    color: var(--emvi-nav-highlight-grey-rgb);
}

.topbar__admin__link a:hover {
    background: rgba(255, 255, 255, 0.02);
    color:var(--emvi-secondary-rgb);
    transition: 0.2s ease-in;
}

.menubar{
    display:flex;
    align-items: center;
    justify-content: space-between;
    nav{
        flex:2 0 auto;
    }
    div{
        flex:0 0 auto;
    }
}

.topbar__search{
    input{
        background: var(--emvi-background-hsl);
        border-color: var(--emvi-primary-rgb);
        border-right:0px;
        color:var(--emvi-body-font-rgb);
        &:focus{
            border:1px solid var(--emvi-primary-rgb);
            border-right:0px;
        }
        &::placeholder {
            color:var(--emvi-body-font-rgb);
            opacity: 0.7;
          }
    }
    &:focus-within{
        background: var(--emvi-background-hsl);
        input{
            &::placeholder{
                color:var(--emvi-body-font-rgb);
                opacity: 1;
            }
        }
    }
    
    &:not(:focus-within){
        button{
          background-color: var(--emvi-background-hsl);
          color: var(--emvi-secondary-rgb);
          border:1px solid var(--emvi-primary-rgb);
          border-left:0px;
          @include breakpoint(medium){
            background: var(--emvi-background-hsl);
          }
        }
      }
}

.sign-in-icon .icon{
    height:40px;
    width:40px;
    fill:var(--emvi-primary-rgb);
}

.language-menu li{
    a,a:hover{ 
        border:1px var(--emvi-primary-rgb) solid;
        border-radius: 50%;
        width:40px;
        height:40px;
        text-align: center;
        line-height:40px;
        color: var(--emvi-primary-rgb);
        text-transform: uppercase;
        font-weight: 500;
        padding:unset;
        background-color: transparent;
        transition: background-color 0.25s ease-out, color 0.25s ease-out;
    }
    a:hover, a.choosen-language{
        text-decoration: none;
        color:white;
        background-color: var(--emvi-primary-rgb);
    }
}

.navbar{
    border-top: 1px solid var(--emvi-primary-rgb);
    border-bottom:  1px solid var(--emvi-primary-rgb);
}

@media print, screen and (min-width: 40em){
    .main-nav ul{
        display:unset;
    }
    .main-nav ul > li{
        text-align: left;
        text-align: start;
    }
}

.main-nav__link{
    padding:1.5rem;
}

.main-nav__link:first-child{
    padding-left: 0;
}

.main-nav__link a{
    color:var(--emvi-nav-highlight-grey-rgb);
    display:unset;
    padding:unset;
}
.main-nav__link--active a, .main-nav__link a{
    box-shadow:unset;
    text-transform: uppercase;
    font-weight: 600;
}
.main-nav__link--active a{
    color:var(--emvi-primary-rgb);
}

.main-nav__link a:hover{
    color:var(--emvi-primary-rgb);
    text-decoration: none;
    box-shadow:unset;
    transition: 0.2s ease-in;
}

.main-footer, .mini-footer{
    background-color: var(--emvi-background-hsl);
    color:var(--emvi-body-font-rgb);
}

.main-footer{
    border-top:1px solid var(--emvi-secondary-rgb);
    .row{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .column{
            float:none;
            flex:0 0 auto;
            width:auto;

            &:first-child{
                flex:1 0 auto;
                padding-left: 0;
            }
            &:last-child{
                padding-right: 0;
            }
        }
    }
}
@media print, screen and (min-width: 64em){
    .main__footer__nav {
        text-align: left;
    }
}

.footer-nav li:first-child {
    padding-left: 0;
}

.mini-footer .row {
    display: flex;
    align-items: center;
    justify-content: center;
    line-height: 1.5rem;
    padding: 2rem 0;
    &:first-child {
        justify-content:space-around;
        img{
            height: 80px;
            width: auto;
        }
    }
}

.main-footer a, .mini-footer a, .footer-social .icon{
    color:var(--emvi-secondary-rgb);
    &:hover{
        color:var(--emvi-secondary-rgb-dark);
        transition: 0.2s ease-in;
        text-decoration: none;
    }
}

a.small_logo{
    height:1.5rem;
    .svg-logo{
        height:1.5rem;
        width:auto;
        color:var(--emvi-secondary-rgb);
        margin:0 0.5rem;
        &:hover{
            color:var(--emvi-secondary-rgb-dark);
            transition: 0.2s ease-in;
        }
    }
    
} 

.home-section:nth-of-type(2n + 1){
    background-color: var(--emvi-background-hsl);
    border-top:1px solid var(--emvi-primary-rgb);
}

.text-highlight.heading1{
    font-family: "et-book", serif;
    font-weight: unset;
}

a, a:hover, .card__link, .card__text a{
    color:var(--emvi-body-font-rgb);
    text-decoration: none;
}
.tooltip{
    a, a:hover, .card__link, .card__text a{
        color:var(--emvi-primary-rgb-dark);
    }
    a:hover{
        transition: 0.2s ease-in;
        text-decoration: none;
    }
    a.author__nickname{
        color:var(--emvi-body-font-rgb);
    }
}
.card__link:hover, .card__text a:hover, .author-data .author__name:hover{
    color:var(--emvi-secondary-rgb);
    transition: 0.2s ease-in;
    text-decoration: none;
}

.author__verified, .author__badge svg {
    color:var(--emvi-secondary-rgb);
}

.card{
    background: none;
    border: 1px solid var(--emvi-primary-rgb);
    position: relative;
}

.homepage .card:after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: calc(100% + 1px);
    height: calc(100% + 1px);
    border: 1px solid var(--emvi-secondary-rgb);
    opacity: 0.7;
    transform: rotate(1deg);
}

.card_data{
    justify-items: space-around;
}

.card-data__item{
    border-right: unset;
    margin-right: 0;
    border-top: unset;
    margin-top: 0;
}

.card__footer, .card__top {
    background: none;
}

.card__footer {
    border-top: unset;
}

a .card__title{
    color:var(--emvi-primary-rgb);
}

a .card__title:hover {
    text-decoration: none;
    color:var(--emvi-secondary-rgb);
    transition: 0.2s ease-in;
    text-decoration: none;
}

.card--process__small:hover{
    color:inherit;
}

.card--list__icon{
    fill:var(--emvi-secondary-rgb);
}

.process-nav__link:hover{
    color:var(--emvi-secondary-rgb);
    transition: 0.2s ease-in;
    text-decoration: none;
}

.link{
    color:var(--emvi-secondary-rgb);
}

.link:hover{
    color:var(--emvi-secondary-rgb-dark);
    transition: 0.2s ease-in;
    text-decoration: none;
}