<section class="alternative-landing stack-vertical wrapper-home home-section">
  <div class="row">
    <h1 class="section-heading">
      <%= decidim_sanitize translated_title %>
    </h1>
  </div>
  <div class="row">
    <div class="stack">
      <% 1.upto(3) do |item_number| %>
        <div class="stack-item card">
          <div class="stack-image">
            <% if image(item_number).present? %>
            <%= image_tag image(item_number), alt: strip_tags(translated_tag(item_number)) %>
            <% end %>
          </div>
          <div class="stack-body">
            <%= decidim_sanitize translated_body(item_number) %>
          </div>
          <div class="stack-link">
            <%= translated_link(item_number, classes: "button button--sc") %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</section>