<div class="emvi card__status">
  <ul class="card-data">
    <% statuses.each do |status_name| %>
      <% unless status_name.to_s == "creation_date" %>
        <li class="card-data__item <%= status_name %>_status">
          <%= send("#{status_name}_status") %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>