<%= render partial: "decidim/shared/component_announcement" %>

<div class="row column">
  <div id="blogs" class="columns medium-12 mediumlarge-12">
    <%= render partial: "posts" %>
  </div>
</div>
