<section class="alternative-landing latest-blog-posts wrapper-home home-section">
  <div class="row">
    <h3 class="section-heading">
      <%= section_title %>
      <%= section_link %>
    </h3>
    <div class="row small-up-1 medium-up-1 mediumlarge-up-1 large-up-3 card-grid">
      <% posts.each do |post| %>
        <%= cell "decidim/blogs/post", post %>
      <% end %>
    </div>
  </div>
</section>